*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #5a5a5a;
	background-color: #ffffff;
	text-rendering: optimizeLegibility
	/*Mac dinh la: 16px;*/
}
/*==========================CSS FOR BUTTON GROUP==============================*/
body{
	background: url('../img/Image008.jpeg') center no-repeat;
	background-size: cover;
	position: relative;
	display: block;
	z-index: -200;
	width: 1830px;
	height: 900px;
}
.screen-bg{
	background: rgba(0,0,0,.5);
	width: 1830px;
	height: 900px;
	z-index: -100;
	display: none;
}
.Rbtn-group{
	position: fixed;
	z-index: 500;
	overflow: visible!important;
	display: block;
	right: 40px;
	bottom: 40px;
}
/* Phần text bên trái button close */
.Rbtn-group-content{
	position: relative;
	display: none;
	background-color: rgba(194, 44, 144, 0.7);
	color: #fff;
	width: 110px;
	height: 20px;
	line-height: 6px;
	text-align: center;
	padding: 4px;
	border-radius: 5px;
	bottom: -30px;
	right: 50px;
}
.st-content{
	font-size: 7px;
}
.nd-content{
	font-size: 11px;
}

/* Start Button bên ngoài: icon message + text: Liên hệ siêu nhanh */
.Rbtn-default{
	overflow: visible!important;
}
.Rbtn-menu{
	background-color: #1296D5;
	opacity: .9;
	float: right;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	cursor: pointer!important;
	text-decoration: none;
	border: 1px none;
	border-radius: 50%;
}
.Rbtn-over{ /* Create effect around the circle */
	transform: scale(0);
	float: right;
	animation: shakeOut 2s 5;
	-webkit-animation: shakeOut 2s 5;
	position: absolute;
	border-radius: 50px;
	display: block;
	top: -20px;
	left: -20px;
	width: 80px;
	height: 80px;
	z-index: -1;
	background-color: #1296D5;
}
.Rbtn-over:nth-of-type(2n){
	animation-delay: .5s;
}
/* Create animation for myIcon */
@keyframes shakeOut {
	0%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		opacity: .5;
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}
/* End create animation for myIcon */

.Rbtn-menu-icon{
	border: 1px none;
	position: absolute;
	border-radius: 50%;
	background: url('../img/icon_menu.png') center no-repeat;
	width: 32px;
	height: 32px;
	background-size: 32px;
	top: 3px;
	left: 3px;
	display: block;
}
.Ricon-close{
	border: 1px none;
	position: absolute;
	border-radius: 50%;
	background: url('../img/icon_close.png') center no-repeat;
	width: 21px;
	height: 21px;
	background-size: 32px;
	top: 9px;
	left: 9px;
	display: none;
}
.Rbtn-menu:hover{
	  box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
		transition: all .3s;
}
.Rbtn-df-text{
	position: relative;
	background-color: rgba(194, 44, 144, 0.7);
	display: block;
	color: #fff;
	font-size: 60%;
	font-weight: 400;
	text-align: center;
	line-height: 2;
	word-spacing: 1px;
	float: right;
	width: 120px;
	height: 35px;
	margin-top: 2px;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 5px;
}
.Rbtn-df-text::after {
	top: 13px;
	right: -7px;
  position: absolute;
  border-top: 7px solid transparent;
  border-left: 7px solid rgba(194, 44, 144, 0.7);
	border-bottom: 7px solid transparent;
  content: '';
}
/* End Button bên ngoài: icon message + text: Liên hệ siêu nhanh */

/* Danh sách các icons */
.Rbtn-list{
	position: absolute;
	transition: .3s;
	right: 40px;
	display: none;
}

/* Mục để lại lời nhắn */
.Rbtn-contact{
	position: absolute;
	float: right;
	width: 380px;
	right: -40px;
	top: -50px;
}
.icon-contact{
	background-color: #f7a400;
}
/* Mục để lại lời nhắn */

/* Mục gọi ngay */
.Rbtn-call{
	position: absolute;
	float: right;
	width: 380px;
	right: -40px;
	top: -100px;
}
.icon-call{
	background-color: #00b151;
}
/* Mục gọi ngay */

/* Mục chat qua Messenger */
.Rbtn-message{
	position: absolute;
	float: right;
	width: 380px;
	right: -40px;
}
.icon-message{
	background-color: #007fff;
}
/* Mục chat qua Messenger */

/* Mục chat qua zalo */
.Rbtn-zalo{
	position: absolute;
	float: right;
	width: 380px;
	right: -40px;
}
.icon-zalo{
	background-color: #0068ff;
}
/* Mục chat qua zalo */

/* Mục chat qua google_map */
.Rbtn-google_map{
	position: absolute;
	float: right;
	width: 380px;
	right: -40px;
}
.icon-google_map{
	background-color: #00b8d4;
}
/* Mục chat qua google_map */

/* CSS sử dụng cho nhiều icons*/
.Rbtn-contact,
.Rbtn-call{
		opacity: 0;
		animation: fadeUp1 .3s ease-in forwards;
}
@keyframes fadeUp1 {
	from{
		opacity: 0;	}
	to{
		opacity: 1;
	}
}
.Rbtn-message{
	opacity: 0;
	animation: fadeUp2 .3s ease-in .1s forwards;

}

@keyframes fadeUp2 {
	from{
		opacity: 0;
		transform: translateY(0);
	}
	to{
		opacity: 1;
		transform: translateY(-150px);
	}
}
.Rbtn-zalo{
	opacity: 0;
	animation: fadeUp3 .3s ease-in .2s forwards;
}
@keyframes fadeUp3 {
	from{
		opacity: 0;
		transform: translateY(0);
	}
	to{
		opacity: 1;
		transform: translateY(-200px);
	}
}
.Rbtn-google_map{
	opacity: 0;
	animation: fadeUp4 .3s ease-in .3s forwards;
}
@keyframes fadeUp4 {
	from{
		opacity: 0;
		transform: translateY(0);
	}
	to{
		opacity: 1;
		transform: translateY(-250px);
	}
}

.icon-contact,
.icon-call,
.icon-message,
.icon-zalo,
.icon-google_map{
	width: 40px;
	height: 40px;
	float: right;
	display: inline-block;
	position: relative;
	cursor: pointer!important;
	text-decoration: none;
	border: 1px none;
	border-radius: 50%;
}
.icon-contact svg,
.icon-call svg,
.icon-message svg,
.icon-zalo svg,
.icon-google_map svg{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 7px;
	left: 7px;
}
.icon-contact:hover,
.icon-call:hover,
.icon-message:hover,
.icon-zalo:hover,
.icon-google_map:hover{
	  box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
		transition: all .3s;
}
.icon-contact::after,
.icon-call::after,
.icon-message::after,
.icon-zalo::after,
.icon-google_map::after{
	top: 13px;
	right: 43px;
  position: absolute;
  border-top: 7px solid transparent;
  border-left: 7px solid rgba(194, 44, 144, 0.7);
	border-bottom: 7px solid transparent;
  content: '';
}
.text-contact,
.text-call,
.text-message,
.text-zalo,
.text-google_map{
	position: relative;
	background-color: rgba(194, 44, 144, 0.7);
	display: inline-block;
	float: right;
	color: #fff;
	font-size: 60%;
	font-weight: 400;
	text-align: center;
	line-height: 2;
	word-spacing: 1px;
	width: auto;
	height: 35px;
	margin-top: 2px;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 5px;
}
/* End CSS sử dụng cho nhiều icons*/
